@page
@model Proiect_Nohai.EditModel2

@{
    ViewData["Title"] = "Edit";
}

<h1>Editare</h1>

<h4>Reducere</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Reducere.ID" />
            <div class="form-group">
                <label asp-for="Reducere.TipReducere" class="control-label"></label>
                <input asp-for="Reducere.TipReducere" class="form-control" />
                <span asp-validation-for="Reducere.TipReducere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Înapoi la listă</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
